body {
  background-color: #383c44;
}

h1 {
  color: white;
  margin-left: 20px;
}

img {
  width: 200px;
  height: 200px;
}

form {
  padding-left: 30px;
}

.other {
  padding: 40px;
}

button {
  padding: 30px
}

.listing-profile {
  padding: 50px;
}

/* new css*/
.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

input {
  font-size: 1rem;
}

.listings {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: .25rem;
  margin-top: 1rem;
}

.listing {
  border: 1px solid black;
  background-color: white;
  padding: .5rem;
}

.listing > .header {
  margin-bottom: .25rem;
}

.listing > .body {
  font-size: .8rem;
  color: #777;
}

.hide {
  display: none;

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 50%;
}